<!DOCTYPE html>
<html lang="en"  xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{fragments::header}">
</head>

<body style="background-image: url(http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg);">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5" style="background-color: rgba(0,0,0,0.5) !important;">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4" style="color: #fff !important;">Create an Account!</h1>
                            </div>
                            <div th:if="${session.message}">
                                <p th:class="'alert alert-' + ${session.alert}" th:text="${session.message}"></p>
                            </div>
                            <form th:action = "@{/register-new}" th:object="${adminDto}" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                          th:field="*{firstName}"  placeholder="First Name" style="border: none;">
                                        <div class="alert alert-danger" th:if = "${#fields.hasErrors('firstName')}"
                                           th:errors="*{firstName}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                               th:field = "*{lastName}"  placeholder="Last Name" style="border: none;">
                                        <div class="alert alert-danger" th:if = "${#fields.hasErrors('lastName')}"
                                             th:errors="*{lastName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                           th:field = "*{username}"  placeholder="Email username" style="border: none;">
                                    <div class="alert alert-danger" th:if = "${#fields.hasErrors('username')}"
                                         th:errors="*{username}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               th:field = "*{password}"   id="exampleInputPassword" placeholder="Password" style="border: none;">
                                        <div class="alert alert-danger" th:if = "${#fields.hasErrors('password')}"
                                             th:errors="*{password}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               th:field = "*{repeatPassword}"  id="exampleRepeatPassword" placeholder="Repeat Password" style="border: none;">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block" style="border: none;">
                                    Register Account
                                </button>
                                <hr>
                                <a  href="index.html" class="btn btn-google btn-user btn-block" style="border: none;">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block" style="border: none;">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a th:href="@{forgot-password}" class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a th:href="@{login}" class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<div th:replace="~{fragments::script}"></div>

</body>

</html>